Source: libcariad-driver-bd663474
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-driver-bd663474
Replaces: libdisplaycore-driver-bd663474
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Drivers
Depends: libdspi-chipkit, libcariad-core
Provides: BD663474.h
Description: BD663474 driver for Cariad
 The BD663474 is used by the WaveShare LCD22 TFT.



